body{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    padding-top: 50px;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    min-height:100vh

}

footer{
    text-align: center;
    background: teal;
    DISPLAY: flex;
    margin-top: 100px;
    padding: 100px 0;
}

footer p {
    margin: auto;
}

/*text effect*/
.typewriter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    color: #fff;
    font-weight: bold;
    position: relative;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
}

.typewriter span {
    color: var(--text-color);
    text-transform: uppercase;
    padding: 10px;
    border-right: solid var(--text-color) 10px; 
    animation: cursor 1s ease-in-out infinite;
}

@keyframes cursor {
    from { border-color: var(--text-color); }
    to { border-color: transparent; }
}

@media (max-width: 576px) {
    .typewriter { font-size: 24px; }
}
@media (max-width: 768px) {
    .typewriter { font-size: 36px; }
}

/* end texte effect */
