<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="stylesheet" href="./css/style.css">
    <title>Chat nodejs</title>
</head>
<body>    
    <p class="typewriter">This is a chat with
        <span data-text="nodeJS, socket.io, javascript"></span>
      </p>

    <div class="container">

    

        <div id="messages"></div>

        <form id="message-form">
            <div class="mb-3">
                <label for="message" class="form-label">Your message</label>
                <input class="form-control" name="message" type="text" id="message" placeholder="Message" required autocomplete="off">
            </div>            
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
        
        <br>
        <br>

        <button id="send-location" type="submit" class="btn btn-secondary">Share location</button>


        <script id="message-template" type="text/html">                            
            <div class="alert alert-warning" role="alert">
                <p>{{createdAt}} - {{username}} : {{message}}</p>
                <!-- <p>{{createdAt}} - {{message}}</p>       -->

            </div>
        </script>

        <script id="location-message-template" type="text/html">                
            <div class="alert alert-light" role="alert">
                <p>{{username}} : {{createdAt}} - <a href="{{url}}" target="_blank">My current location</a></p>        
            </div>
        </script>

    </div>

    <footer>
        <p>© 2022 - <a href="https://pierre-delaunay.fr/">Pierre Delaunay</a></p>
    </footer>

    <!-- call script mustache and moment and qs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.1.0/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>


    <!-- Call socket api -->
    <script src="/socket.io/socket.io.js"></script> 

    <!-- Call our custom chat.js -->
    <script src="./js/chat.js"></script> 
    <script src="./js/script.js"></script>
</body>
</html>